//Quicksand ligh
@font-face {
    font-family: quicksand-light;
    src: url('../fonts/quicksand/quicksand-light.ttf')
}

.quicksand-light{
    font-family: quicksand-light;
}

//Quicksand regular
@font-face{
    font-family: quicksand-regular;
    src: url('../fonts/quicksand/quicksand-regular.ttf');
}

.quicksand-regular{
    font-family: quicksand-regular;
}

//Quicksand bold
@font-face{
    font-family: quicksand-bold;
    src: url('../fonts/quicksand/quicksand-bold.ttf');
}

.quicksand-bold{
    font-family: quicksand-bold;
}

//raleway light
@font-face{
    font-family: raleway-light;
    src: url('../fonts/raleway/raleway-light.ttf');
}

.raleway-light{
    font-family: raleway-light;
}

//raleway regular
@font-face{
    font-family: raleway-regular;
    src: url('../fonts/raleway/raleway-regular.ttf');
}

.raleway-regular{
    font-family: raleway-regular;
}

//raleway bold
@font-face{
    font-family: raleway-bold;
    src: url('../fonts/raleway/raleway-bold.ttf');
}

.raleway-bold{
    font-family: raleway-bold;
}
